body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    background-color:black;
    height: 120px;
}
.container {
    height: 100px;
    font-family: 'Pokemon Solid', sans-serif;
    margin-left: 40px;
    display: flex;
    color: red;
    align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fbff00;
}